<!DOCTYPE html>
<html>
	<head>
		<title>XML Models Example</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css" >
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" >

		<script src="http:////cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-datepicker.ru.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/lib/pure.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
	</head>
	<body>
	<div id='wrapper'>
	 <div id='sidebar-wrapper'>
	    <ul class="sidebar-nav">
    	<li class="sidebar-brand">Выберите модель<a href="#"></a></li>
	    {% for m in models %}
	    	<li><a href="" rel="{{ m.name }}" class="menu-item">{{ m.title }}</a></li>
	    {% endfor %}
	    </ul>
	 </div>

    <div id="page-content-wrapper">

	    <div class="content-header">
	        <h1>
	           Xml Models Example
	        </h1>
	    </div>

	    <div class="page-content inset">

		    <div class="row">
		            <div class="col-md-12">
		                <p class="lead">Это приложение на Django загружает модели динамически из XML-файла. Можно добавить новый объект с помощью формы или редактировать существующий, дважды кликнув по соответствующему значению в таблице. Формы для моделей также генерируются динамически штатными средствами Django. Вы можете зайти в <a href="/admin">административный интерфейс</a>. Логин: <strong>admin</strong>, пароль: <strong>pass</strong>. Код приложения доступен на <a href="/admin">Github</a>.</p>
		                <p class="lead"></p>
		            </div>
		    </div>

		    <div class="row">
	        	<div class="col-md-12">
		        	<table class="hide" id="prepare">
		        		<!-- invisible table to pre-render -->
		        	</table>
		        	<table class="table table-bordered table-hover" id="result">
		        	</table>
	        	</div>
		    </div>

	        <div class="row">
	        	<div id="form" class="col-md-3">
	        	</div>
	        </div>

		</div>

    </div>

	</body>
</html>